.masonry {
  background: #EEE;
  max-width: 100%;
  margin: 0 auto;
}

#topbar {
	height: 100px;
	background-color: black;
	width: 100%;
	margin-bottom: 50px;
}

.masonry .iframe-prezi {
  width:  300px;
  height: 240px;
  margin: 10px 20px 10px 10px;
}

.owners {
	float: left;
	width: 80%;
	margin-top: 20px;
}

.vote {
	margin-top: 10px;
	margin-right: 10px;
	float: right;
}