<!DOCTYPE html>
<html lang="en">
<head>
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
	<link rel=stylesheet type="text/css" href="{{ url_for('static', filename='css/home.css') }}"></link>
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
      <link href='http://fonts.googleapis.com/css?family=Condiment' rel='stylesheet' type='text/css'>
	<script type=text/javascript src="{{ url_for('static', filename='js/masonry.pkgd.min.js') }}"></script>
	<script type=text/javascript src="{{ url_for('static', filename='js/home.js') }}"></script>
      <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}"/>
{% block js_script %}{% endblock %}
{% block css %}{% endblock %}
</head>
</body>
<div id="topbar">
      <div class="title">
            Gallezi
      </div>
      <div class="options">
            <button type="button" class="btn btn-lg btn-success signout" data-toggle="modal" data-target="#about-modal">About</button>
            <button type="button" class="btn btn-lg btn-info signout"><a href="/logout">Sign out</a></button>
      </div>
</div>
<div class="modal fade" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">About Gallezi</h4>
      </div>
      <div class="modal-body">
        Gallezi (contracted from Gallery and Prezi) provides an easy way to display Prezis.
        It also offers a vote system which could use in a design contest or something equivalent.
        <br />
        Gallezi has been developed and designed by <a href="http://flask-blog.jeremydagorn.com" target="_blank">Jeremy Dagorn</a>. 
        <br />It is open source and you can clone and modify it at your convenience.
        <br /><br />
        To reach the developer:<br />
        <a href="http://twitter.com/jrm2k6" target="_blank">@jrm2k6</a><br />
        <a href="http://github.com/gallezi" target="_blank">Github project</a><br />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% for category, message in get_flashed_messages(with_categories=true) %}
      <div class="alert 
      {% if category %}
            {% if category != "message" %}
      	     alert-{{category}}
            {% else %}
                  alert-warning
            {% endif %}
      {% else %}
      	alert-info
      {% endif %} 
      alert-dismissable" data-dismiss="alert"> 
      	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      	{{ message }} 
      </div>
{% endfor %}
{% block body %} 
{% endblock %}
</body>
</html>