{% extends "base.html" %}
{% block body %}
	<div class="masonry js-masonry"  data-masonry-options='{ "columnWidth": ".iframe-prezi", "itemSelector": ".iframe-prezi", "isFitWidth": true, "gutter": 10}'>
		{% for presentation in presentations %}

		<div class="iframe-prezi">
			<iframe id="presentation_iframe" src="{{presentation.url}}?bgcolor=ffffff&amp;lock_to_path=0&amp;autoplay=0&amp;autohide_ctrls=0&amp;features=undefined&amp;disabled_features=undefined" width="300" height="200" frameBorder="0"></iframe>
			<div class="info">
				<div class="owners">
				{{ presentation.owner }}
				</div>
				<div class="vote">
				<a class="btn vote-btn" data-presentation= "{{ presentation.id }}"
				href="#">
	  			<i class="fa fa fa-thumbs-o-up"></i></a>
	  			</div>
	  		</div>
		</div>
		{% endfor %}
	</div>
{% endblock %}